.item{
    width: 30%;
    margin-bottom: 50px;
    background: #114464c9;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    padding-bottom: 25px;

    img{
        width: 100%;
        border-radius: 10px 10px 0 0;
        transition: transform 1000ms ease;
        cursor: pointer;
    }
    img:hover{
        transform: scale(1.2);
    }
    .addToCart{
        position: absolute;
        right: 20px;
        bottom: 20px;
        background: #056e6e;
        width: 35px;
        height: 35px;
        text-align: center;
        line-height: 35px;
        border-radius: 30%;
        cursor: pointer;
        font-weight: 600;
        color: #fff;
        font-size: 20px;
        transition: transform 1000ms ease;
    }

    .addToCart:hover{
        transform: scale(1.5) translateY(-5px);
    }

}