.item{
    width: 30%;
    margin-bottom: 50px;
    background: #114464c9;
    border-radius: 10px;
    overflow: hidden;

    img{
        width: 100%;
        border-radius: 10px 10px 0 0;
        transition: transform 1000ms ease;
    }
    img:hover{
        transform: scale(1.2);
    }

}