header{
    
    .logo{
        font-weight: 900;
        font-style: italic;
        font-size: 32px;
    }

    .nav{
        float: right;
        list-style: none;

        li{
            display: inline;
            margin-left: 25px;
            cursor: pointer;
            font-size: 15px;
            font-weight: 600;
            transition: opacity 500ms ease;
        }

        li:hover{
            opacity: 0.5;

        }



    }



    .presentation{
        margin: 50px 0;
        background: url(./../../Images/Logo.jpeg) no-repeat;
        width: 100%;
        height: 500px;
        background-size: cover;
        background-position: center center;
        background-blend-mode: multiply;
        background-color: #595b61;
        position: relative;
        border-radius: 15px;
    }

    .presentation::after{
        content: "Лучшие товары для вашей семьи";
        color: rgb(58, 184, 223);
        position: absolute;
        top: 100px;
        left: 50px;
        width: 350px;
        font-size: 45px;
    }
    .presentation::before{
        content: "по низкой цене";
        color: rgb(58, 184, 223);
        position: absolute;
        top: 250px;
        left: 50px;
        width: 350px;
        font-size: 40px;
    }
}